{% autoescape false %}

<!-- WB Insert -->
<script>
  {% set urlsplit = cdx.url | urlsplit %}
    wbinfo = {};
    wbinfo.top_url = "{{ top_url }}";
  {% if is_framed %}
    // Fast Top-Frame Redirect
    if (window == window.top && wbinfo.top_url) {
      var loc = window.location.href.replace(window.location.hash, "");
      loc = decodeURI(loc);

      if (loc != decodeURI(wbinfo.top_url)) {
          window.location.href = wbinfo.top_url + window.location.hash;
      }
    }
  {% endif %}
    wbinfo.url = "{{ cdx.url }}";
    wbinfo.timestamp = "{{ cdx.timestamp }}";
    wbinfo.request_ts = "{{ wb_url.timestamp }}";
    wbinfo.prefix = decodeURI("{{ wb_prefix }}");
    wbinfo.mod = "{{ replay_mod }}";
    wbinfo.is_framed = {{ is_framed | tobool }};
    wbinfo.is_live = {{ is_live | tobool }};
    wbinfo.coll = "{{ coll }}";
    wbinfo.proxy_magic = "{{ env.pywb_proxy_magic }}";
    wbinfo.static_prefix = "{{ static_prefix }}/";
    wbinfo.enable_auto_fetch = {{ config.enable_auto_fetch | tobool }};
    wbinfo.target_frame = "___wb_replay_top_frame";
</script>

<style>
  .tooltip {
    width: max-content;
    position: absolute;
    top: 0;
    left: 0;
    background: #222;
    color: white;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    font-size: 90%;
    z-index: 1000;
  }
  .arrowABHero {
    position: absolute;
    background: #222;
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    z-index: 1000;
  }
</style>

<script type="module">
  import {
    computePosition,
    flip,
    shift,
    offset,
    arrow,
  } from "https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.5.3/+esm";

  const suggestions = [
    {
      Current: "Sale",
      New: "Limited Offer",
      Type: "Text",
      suggestion: "Emphasize the discount",
    },
    {
      Current:
        "20% of all the profits we make, goes into providing clothes to the underprivileged",
      New: "Your purchase helps! 20% goes to clothing the underprivileged",
      Type: "Text",
      suggestion: "Highlight the charitable aspect",
    },
    {
      Current: "Small magnifying glass icon",
      New: "Search box with placeholder text Search products\u2026",
      Type: "Structure",
      suggestion: "Increase search visibility",
    },
    {
      Current: "Add to cart",
      New: "Secure My Order",
      Type: "Text",
      suggestion: "Test different call-to-action (CTA) on the button",
    },
    {
      Current: "Add to cart button colour",
      New: "Change the 'Add to cart' button to a brighter, more urgent color, like red or orange",
      Type: "Graphics",
      suggestion: "Use color psychology to prompt action",
    },
    {
      Current: "(No tag)",
      New: "Best Seller tag added next to the product name",
      Type: "Text",
      suggestion: "Increase perceived value with 'Best Seller'",
    },
    {
      Current: "Shipping calculated at checkout.",
      New: "Free Shipping on Orders Over Rs. 1000",
      Type: "Text",
      suggestion: "Explicit shipping information",
    },
    {
      Current: "Size",
      New: "Choose Your Size",
      Type: "Text",
      suggestion: "Clarify size label",
    },
    {
      Current: "[Small color selection boxes]",
      New: "[Larger color selection circles]",
      Type: "Graphics",
      suggestion: "Increase color selection visibility",
    },
    {
      Current: "[Horizontal size options]",
      New: "[Dropdown size selection menu]",
      Type: "Structure",
      suggestion: "Optimize size selection for better user experience",
    },
  ];

  const elementsWithTooltips = new Set();

  function createTooltipForTextElement(element, sugg) {
    const { Current: currentText, New: newText, suggestion: text } = sugg;
    // Create tooltip element
    if (!elementsWithTooltips.has(element.textContent)) {
      // Add this element to the Set to mark it as having a tooltip
      console.log(element.textContent);
      elementsWithTooltips.add(element.textContent);
      const tooltip = document.createElement("div");
      tooltip.className = "tooltip";
      tooltip.textContent = text;
      tooltip.style.position = "absolute";
      tooltip.style.cursor = "pointer";

      // Store the current and new text in data attributes
      tooltip.dataset.currentText = currentText;
      tooltip.dataset.newText = newText;

      // Event listener to toggle text
      tooltip.addEventListener("click", function () {
        if (element.textContent.trim() === currentText) {
          element.textContent = newText;
        } else {
          element.textContent = currentText;
        }
      });

      document.body.appendChild(tooltip);

      // Create arrow element
      const arrowElement = document.createElement("div");
      arrowElement.className = "arrowABHero";
      arrowElement.textContent = " ";
      tooltip.appendChild(arrowElement);

      computePosition(element, tooltip, {
        placement: "top", // You can set this to 'top', 'right', 'bottom', or 'left'
        middleware: [
          offset(6),
          flip(),
          shift({ padding: 5 }),
          arrow({ element: arrowElement }),
        ],
      }).then(({ x, y, placement, middlewareData }) => {
        Object.assign(tooltip.style, {
          left: `${x}px`,
          top: `${y}px`,
        });

        // Accessing the data
        const { x: arrowX, y: arrowY } = middlewareData.arrow;

        const staticSide = {
          top: "bottom",
          right: "left",
          bottom: "top",
          left: "right",
        }[placement.split("-")[0]];

        Object.assign(arrowElement.style, {
          left: arrowX != null ? `${arrowX}px` : "",
          top: arrowY != null ? `${arrowY}px` : "",
          right: "",
          bottom: "",
          [staticSide]: "-4px",
        });

        // Center the arrow by adjusting its position based on its size and the tooltip width
        if (placement.startsWith("top") || placement.startsWith("bottom")) {
          arrowElement.style.left = `calc(50% - ${
            arrowElement.offsetWidth / 2
          }px)`;
        } else {
          arrowElement.style.top = `calc(50% - ${
            arrowElement.offsetHeight / 2
          }px)`;
        }
      });
    }
  }

  // Function to attach tooltips based on suggestions
  function longestCommonSubsequence(str1, str2) {
    const dp = Array(str1.length + 1)
      .fill(null)
      .map(() => Array(str2.length + 1).fill(0));

    for (let i = 1; i <= str1.length; i++) {
      for (let j = 1; j <= str2.length; j++) {
        if (str1[i - 1] === str2[j - 1]) {
          dp[i][j] = dp[i - 1][j - 1] + 1;
        } else {
          dp[i][j] = Math.max(dp[i - 1][j], dp[i][j - 1]);
        }
      }
    }

    return dp[str1.length][str2.length];
  }

  function attachTooltips(suggestions) {
    suggestions.forEach((suggestion) => {
      if (suggestion.Type === "Text") {
        const elements = Array.from(
          document.querySelectorAll("p, span, h1, h2, h3, h4, h5, h6")
        );

        for (const element of elements) {
          const elementText = element.textContent.trim();
          const lcsLength = longestCommonSubsequence(
            elementText,
            suggestion.Current
          );

          // Determine the similarity threshold. Here we use 80% of the "Current" text length.
          const threshold = suggestion.Current.length * 0.8;

          if (lcsLength >= threshold) {
            // If the similarity is above the threshold, we create a tooltip.
            console.log("Creating tooltip for: ", elementText);
            createTooltipForTextElement(element, suggestion);
            break;
          }
        }
      }
    });
  }
  window.addEventListener(
    "message",
    (event) => {
      console.log("Message received from parent: ", event.data);
      attachTooltips(suggestions);
    },
    false
  );
</script>

{% if env.pywb_proxy_magic %} {% set whichWombat = 'wombatProxyMode.js' %} {%
else %} {% set whichWombat = 'wombat.js' %} {% endif %} {% if not
wb_url.is_banner_only or (env.pywb_proxy_magic and (config.enable_auto_fetch or
config.proxy.enable_wombat)) %}
<script src="{{ static_prefix }}/{{ whichWombat }}"></script>
<script>
  wbinfo.wombat_ts = "{{ wombat_ts }}";
  wbinfo.wombat_sec = "{{ wombat_sec }}";
  wbinfo.wombat_scheme = "{{ urlsplit.scheme }}";
  wbinfo.wombat_host = "{{ urlsplit.netloc }}";

  wbinfo.wombat_opts = {};

  if (window && window._WBWombatInit) {
    window._WBWombatInit(wbinfo);
  }
</script>
{% else %}
<script>
  window.devicePixelRatio = 1;
</script>
{% endif %} {% if config.enable_flash_video_rewrite or
config.transclusions_version == 1 %}
<script src="{{ static_prefix }}/vidrw.js"></script>

{% elif config.transclusions_version == 2 %}
<script src="{{ static_prefix }}/transclusions.js"></script>

{% endif %} {% if not is_framed %} {{ custom_banner_html }} {% endif %} {%
endautoescape %}

<!-- End WB Insert -->
