{% autoescape false %}

<!-- WB Insert -->
<script>
  {% set urlsplit = cdx.url | urlsplit %}
    wbinfo = {};
    wbinfo.top_url = "{{ top_url }}";
  {% if is_framed %}
    // Fast Top-Frame Redirect
    if (window == window.top && wbinfo.top_url) {
      var loc = window.location.href.replace(window.location.hash, "");
      loc = decodeURI(loc);

      if (loc != decodeURI(wbinfo.top_url)) {
          window.location.href = wbinfo.top_url + window.location.hash;
      }
    }
  {% endif %}
    wbinfo.url = "{{ cdx.url }}";
    wbinfo.timestamp = "{{ cdx.timestamp }}";
    wbinfo.request_ts = "{{ wb_url.timestamp }}";
    wbinfo.prefix = decodeURI("{{ wb_prefix }}");
    wbinfo.mod = "{{ replay_mod }}";
    wbinfo.is_framed = {{ is_framed | tobool }};
    wbinfo.is_live = {{ is_live | tobool }};
    wbinfo.coll = "{{ coll }}";
    wbinfo.proxy_magic = "{{ env.pywb_proxy_magic }}";
    wbinfo.static_prefix = "{{ static_prefix }}/";
    wbinfo.enable_auto_fetch = {{ config.enable_auto_fetch | tobool }};
    wbinfo.target_frame = "___wb_replay_top_frame";
</script>

<style>
  .tooltip {
    position: absolute;
    background: #5c5c5c;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    font-size: 18px;
    height: 28px;
    width: 30px;
    text-align: center;
    cursor: pointer;
    z-index: 2147483647;
  }
</style>

<script>
  window.addEventListener("load", (event) => {
    const htmlContent = document.documentElement.outerHTML;
    console.log("use html: ", htmlContent);
    setTimeout(() => {
      window.parent.postMessage(
        { type: "html", htmlContent: htmlContent },
        "*"
      );
    }, 1000);
  });

  const tooltips = {};

  function toggleTooltipState(num) {
    const tooltipVals = tooltips[num];
    const suggestion = tooltipVals[2];
    console.log(suggestion);
    const element = document.evaluate(
      suggestion.xpath,
      document,
      null,
      XPathResult.FIRST_ORDERED_NODE_TYPE,
      null
    ).singleNodeValue;
    tooltipVals[1] = element;
    console.log(element);
    const tooltip = tooltipVals[0];
    const variant = tooltip.style.background === "rgb(92, 92, 92)";
    if (variant) {
      tooltip.style.background = "#F37B38";
      element.outerHTML = suggestion.New;
    } else {
      tooltip.style.background = "#5C5C5C";
      element.outerHTML = suggestion.Current;
    }
    window.parent.postMessage(
      {
        type: "tooltipToggled",
        tooltipNum: suggestion.num,
        variant,
      },
      "*"
    );
  }

  function positionTooltip(element, tooltip, existingCount) {
    const rect = element.getBoundingClientRect();
    let numOffset = Math.floor(existingCount / 2);
    let placement = "left";
    if (existingCount % 2 === 1) {
      placement = "right";
      numOffset *= -1;
    }

    // Calculate the position based on the element's position and size
    let left =
      rect.left + (placement === "left" ? -tooltip.offsetWidth : rect.width);
    let top = rect.top + window.scrollY;

    // Apply the position with an offset
    tooltip.style.left = `${left - 35 * numOffset}px`;
    tooltip.style.top = `${top}px`;
  }

  function createTooltipForTextElement(element, suggestion, existingCount) {
    const tooltip = document.createElement("div");
    tooltip.className = "tooltip";
    tooltip.textContent = suggestion.num;
    tooltips[suggestion.num] = [tooltip, element, suggestion];
    tooltip.style.background = "#5C5C5C";

    document.body.appendChild(tooltip);

    tooltip.addEventListener("click", () => {
      toggleTooltipState(suggestion.num);
    });

    positionTooltip(element, tooltip, existingCount);
  }

  const xpathTooltipsCreated = {};
  function attachTooltip(suggestion) {
    const element = document.evaluate(
      suggestion.xpath,
      document,
      null,
      XPathResult.FIRST_ORDERED_NODE_TYPE,
      null
    ).singleNodeValue;
    console.log(suggestion);
    if (element) {
      let existingCount = xpathTooltipsCreated[suggestion.xpath] || 0;
      createTooltipForTextElement(element, suggestion, existingCount);
      xpathTooltipsCreated[suggestion.xpath] = existingCount + 1;
    }
  }

  window.addEventListener("message", (event) => {
    //console.log(event.data);
    try {
      const eventJson = JSON.parse(event.data);
      if (eventJson["ABHeroSuggestion"]) {
        const suggestion = eventJson["ABHeroSuggestion"];
        console.log(suggestion);
        attachTooltip(suggestion);
      }
      if (eventJson["ABHeroChange"]) {
        const num = eventJson["ABHeroChange"]["num"];

        toggleTooltipState(num);
      }
    } catch (err) {
      return;
    }
  });
</script>

{% if env.pywb_proxy_magic %} {% set whichWombat = 'wombatProxyMode.js' %} {%
else %} {% set whichWombat = 'wombat.js' %} {% endif %} {% if not
wb_url.is_banner_only or (env.pywb_proxy_magic and (config.enable_auto_fetch or
config.proxy.enable_wombat)) %}
<script src="{{ static_prefix }}/{{ whichWombat }}"></script>
<script>
  wbinfo.wombat_ts = "{{ wombat_ts }}";
  wbinfo.wombat_sec = "{{ wombat_sec }}";
  wbinfo.wombat_scheme = "{{ urlsplit.scheme }}";
  wbinfo.wombat_host = "{{ urlsplit.netloc }}";

  wbinfo.wombat_opts = {};

  if (window && window._WBWombatInit) {
    window._WBWombatInit(wbinfo);
  }
</script>
{% else %}
<script>
  window.devicePixelRatio = 1;
</script>
{% endif %} {% if config.enable_flash_video_rewrite or
config.transclusions_version == 1 %}
<script src="{{ static_prefix }}/vidrw.js"></script>

{% elif config.transclusions_version == 2 %}
<script src="{{ static_prefix }}/transclusions.js"></script>

{% endif %} {% if not is_framed %} {{ custom_banner_html }} {% endif %} {%
endautoescape %}

<!-- End WB Insert -->
